$green: #58aa34;
$pink: #fe4b73;
$purple: #372578;
$shadeGreen: repeating-linear-gradient(45deg, transparent, transparent 3px, $green 2px, $green 5px);
$shadePink: repeating-linear-gradient(45deg, transparent, transparent 3px, $pink 2px, $pink 5px);
$shadePurple: repeating-linear-gradient(45deg, transparent, transparent 3px, $purple 2px, $purple 5px);

body {
  background: pink;
}

.card {
  display: block;
  width: 23%;
  margin: 1vh 1%;
  height: 21vh;
  border: 1px solid;
  overflow: hidden;
  float: left;
  background: white;
  border-radius: 6px;
  box-sizing: border-box;
}

.squiggle,
.oval,
.diamond {
  box-sizing: border-box;
  width: 25%;
  margin: 4% 4%;
  height: 90%;
  float: left;
}

@mixin oval($background, $color) {
  border-radius: 50%;
  border: solid 2px $color;
  background: $background;
}

.oval.green.transparent {
  @include oval(transparent, $green);
}
.oval.pink.transparent {
  @include oval(transparent, $pink);
}
.oval.purple.transparent {
  @include oval(transparent, $purple);
}

.oval.green.solid {
  @include oval($green, $green);
}
.oval.pink.solid {
  @include oval($pink, $pink);
}
.oval.purple.solid {
  @include oval($purple, $purple);
}

.oval.green.shaded {
  @include oval($shadeGreen, $green);
}
.oval.pink.shaded {
  @include oval($shadePink, $pink);
}
.oval.purple.shaded {
  @include oval($shadePurple, $purple);
}

@mixin diamond($color, $shade) {
  overflow: hidden;
  position: relative;
  padding: 12.5%;
  width: 0;
  background: $shade;
  @if $shade == 'shaded' {
    background: repeating-linear-gradient(134deg, transparent, transparent 5px, $color 2px, $color 8px)
  }
  transform: rotate(65deg) skewX(45deg) scaleX(1.3) scaleY(0.35);
  border: solid 2px $color;
}

.diamond.solid.pink {
  @include diamond($pink, $pink);
}
.diamond.shaded.pink {
  @include diamond($pink, 'shaded');
}
.diamond.transparent.pink {
  @include diamond($pink, transparent);
}

.diamond.solid.green {
  @include diamond($green, $green);
}
.diamond.shaded.green {
  @include diamond($green, 'shaded');
}
.diamond.transparent.green {
  @include diamond($green, transparent);
}

.diamond.solid.purple {
  @include diamond($purple, $purple);
}
.diamond.shaded.purple {
  @include diamond($purple, 'shaded');
}
.diamond.transparent.purple {
  @include diamond($purple, transparent);
}

@mixin squiggle($shade, $color) {

}
